NODE_ENV=development
PORT=3000

JWT_SEED=clinica2025
JWT_EXPIRE=1d

DB_NAME=clinica_dev
DB_USER=clinica_user
DB_PASSWORD=clinica_password
DB_HOST=localhost
DB_PORT=54320

JWT_SEED=clinica2025
JWT_EXPIRE=1d

DB_NAME=clinica_dev
DB_USER=clinica_user
DB_PASSWORD=clinica_password
DB_HOST=localhost
DB_PORT=54320
